<app-header [currencies]="currencies"></app-header>
<div class="converter-wrapper">
  <mat-card class="converter">
    <div class="converter-top">
      <mat-icon fontIcon="currency_exchange" class="converter-top-icon"></mat-icon>
      <div class="converter-title">What do you want to convert?</div>
    </div>

    <div class="converter-content">
      <div class="form-container">
        <div class="form-group">
          <mat-form-field class="form-field">
            <mat-label>Choose currency:</mat-label>
            <mat-select [(value)]="fromCurrency" (selectionChange)="handleCurrencyChange('from', $event.value)">
              <mat-option [value]="null">None</mat-option>
              <mat-option *ngFor="let currency of currencyKeys" [value]="currency">
                {{ currency }}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <input 
            class="input-field" 
            type="text" 
            placeholder="Enter value"
            (input)="handleValueInput('from', $event)"
            [value]="fromValue !== null ? fromValue : ''"
          >
        </div>

        <div class="form-group">
          <mat-form-field class="form-field">
            <mat-label>Choose currency:</mat-label>
            <mat-select [(value)]="toCurrency" (selectionChange)="handleCurrencyChange('to', $event.value)">
              <mat-option [value]="null">None</mat-option>
              <mat-option *ngFor="let currency of currencyKeys" [value]="currency">
                {{ currency }}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <input 
            class="input-field" 
            type="text" 
            placeholder="Enter value"
            [value]="toValue !== null ? toValue : ''"
            (input)="handleValueInput('to', $event)"
          >
        </div>
      </div>

      <div class="button-container">
        <button class="calculate-button" mat-fab extended (click)="handleReset()">
          <mat-icon>restart_alt</mat-icon>
          Reset
        </button>
      </div>
    </div>
  </mat-card>
</div>
